.example-text-container {
    padding-top: 45px;
    width: 100%;
}

.instructions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 25px;
    padding-bottom: 15px;
}

.instructions > p {
    color: #403d39;
    font-size: 2rem;
    font-weight: bold;
}